.home{
    display: flex;
    /* flex-direction: row-reverse; */
    /* align-items: center; */
    justify-content: center;
}
body{
    background-color: aliceblue;
}
a{
    text-decoration: none;
    color: black;
}